{% extends "gestus/base.html" %}

{% block gestus_content %}
    <hr>
    
    <h3>Last modified websites</h3>
    <div class="row nice-tiles equal-heights">{% for item in website_list %}
        <div class="small-12 medium-4 columns equalized-item{% if forloop.last %} end{% endif %}"><a href="{% url 'gestus:website-detail' item.pk %}">
            <div class="panel radius">
                <h4>{{ item.name }}</h4>
                <p class="text-right"><small title="{{ item.modified }}">Modified since {{ item.modified|timesince }}</small></p>
            </div>
        </a></div>
    {% endfor %}</div>
    <p class="text-right"><a href="{% url 'gestus:website-list' %}" class="button">Full list <i class="icon-right"></i></a></p>
    
    <hr>
    
    <h3>More used servers</h3>
    <div class="row nice-tiles equal-heights">{% for item in server_list %}
        <div class="small-12 medium-4 columns equalized-item{% if forloop.last %} end{% endif %}"><a href="{% url 'gestus:server-detail' hash64=item.hash64 %}">
            <div class="panel radius">
                <h4>{{ item.server }}</h4>
                <p class="text-right"><small>{{ item.num_environment }} website environment{{ item.num_environment|pluralize }} use it</small></p>
            </div>
        </a></div>
    {% endfor %}</div>
    <p class="text-right"><a href="{% url 'gestus:server-list' %}" class="button">Full list <i class="icon-right"></i></a></p>
    
    <hr>
    
    <h3>Last modified environments</h3>
    <div class="row nice-tiles equal-heights">{% for item in environment_list %}
        <div class="small-12 medium-4 columns equalized-item{% if forloop.last %} end{% endif %}"><a href="{% url 'gestus:environment-detail' item.pk %}">
            <div class="panel radius">
                <h4>{{ item }}</h4>
                <p class="text-right"><small title="{{ item.modified }}">Modified since {{ item.modified|timesince }}</small></p>
            </div>
        </a></div>
    {% endfor %}</div>
    <p class="text-right"><a href="{% url 'gestus:environment-list' %}" class="button">Full list <i class="icon-right"></i></a></p>
    
    <hr>
    
    <h3>Last modified eggs</h3>
    <div class="row nice-tiles equal-heights">{% for item in eggs_list %}
        <div class="small-12 medium-4 columns equalized-item{% if forloop.last %} end{% endif %}"><a href="{% url 'gestus:egg-detail' item.pk %}">
            <div class="panel radius">
                <h4>{{ item.name }}</h4>
                <p class="text-right"><small title="{{ item.modified }}">Modified since {{ item.modified|timesince }}</small></p>
            </div>
        </a></div>
    {% endfor %}</div>
    <p class="text-right"><a href="{% url 'gestus:egg-list' %}" class="button">Full list <i class="icon-right"></i></a></p>
{% endblock %}
