{% extends "skeleton.html" %}

{% block base_content %}<div class="row">
    <div class="small-12 columns">
        <h2>
            <small class="subhead">Website</small> 
            {{ website.name }}
        </h2>
        
        <p class="text-right">
            <i class="icon-clock" title="Created on {{ website.created }}"></i> {{ website.modified }}
        </p>
        
        {% if website.description %}<hr>
        <div>
            <h3>Description</h3>
            {{ website.description|linebreaks }}
        </div>{% endif %}
        
        <hr>
        
        <h3>Used eggs</h3>
        <p>...</p>
        <hr>
        
        <h3>Environments</h3>
        
        <ul class="list-group">{% for item in website.environments.all %}
            <li><a href="{% url 'gestus:environment-detail' item.pk %}">
                <p class="right text-right"><small title="{{ item.modified }}">Modified since {{ item.modified|timesince }}</small></p>
                <h3>{{ item.name }}</h3>
            </a></li>
        {% endfor %}</ul>
    </div>
</div>{% endblock %}
