{% extends "skeleton.html" %}

{% block base_content %}<div class="nice-tiles">
    <div class="row">
        <div class="small-12 columns">
            <h2>Website index</h2>
            
            <div class="row equal-heights">{% for item in website_list %}
                <div class="small-12 medium-4 columns equalized-item{% if forloop.last %} end{% endif %}"><a href="{% url 'gestus:website-detail' item.pk %}">
                    <div class="panel radius">
                        <h4>{{ item.name }}</h4>
                        <p class="text-right"><small title="{{ item.modified }}">Modified since {{ item.modified|timesince }}</small></p>
                    </div>
                </a></div>
            {% endfor %}</div>
        </div>
    </div>
</div>{% endblock %}
